.tabs-box {
	:deep(.tabs-menu) {
		width: 100%;
		position: relative;
		.el-dropdown {
			position: absolute;
			right: 13px;
			top: 8px;
		}
		.tabs-icon {
			top: 2px;
		}
		.el-tabs__nav-wrap {
			position: absolute;
			width: calc(100% - 120px);
		}
		.el-tabs--card > .el-tabs__header {
			height: 40px;
			padding: 0 10px;
			box-sizing: border-box;
			margin: 0;
      display: flex;
      align-items: center;
		}
		.el-tabs--card > .el-tabs__header .el-tabs__nav {
			border: none;
		}
		.el-tabs--card > .el-tabs__header .el-tabs__item {
			color: var(--el-bg-color);
			border: none;
      height: 30px;
      line-height: 30px;
      border-radius: var(--el-border-radius-base);
      margin-right: 10px;
      padding: 0 10px;
      background-color: var(--el-text-color-primary);
      user-select: none;
		}
    .el-tabs__nav-wrap > .el-tabs__nav-prev,.el-tabs__nav-next {
      line-height: 31px;
    }
		.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
      background-color: var(--el-color-primary);
		}
	}
}
